{{!
    @template mod_datalynx/email_view_browser
}}
{{#hascontent}}
<div class="mod-datalynx-email-view-browser"
     data-datalynxid="{{datalynxid}}"
     data-viewid="{{viewid}}"
     data-entryid="{{entryid}}">
    {{{bodyhtml}}}
</div>
{{/hascontent}}
