{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_datalynx/tabular_view_browser

    Example context (json):
    {
        "datalynxid": 1,
        "viewid": 2,
        "viewtype": "tabular",
        "hasentries": true,
        "groups": [
            {
                "name": "",
                "hasname": false,
                "columns": [
                    {
                        "headerhtml": "Title",
                        "alignstyle": "left",
                        "columnclass": "c0",
                        "islast": true
                    }
                ],
                "rows": [
                    {
                        "id": 3,
                        "rowclass": "r0",
                        "cells": [
                            {
                                "valuehtml": "Example tabular entry",
                                "alignstyle": "left",
                                "columnclass": "c0",
                                "islast": true
                            }
                        ]
                    }
                ]
            }
        ],
        "emptycontent": "No entries"
    }
}}
<div class="mod-datalynx-tabular-view-browser"
     data-datalynxid="{{datalynxid}}"
     data-viewid="{{viewid}}"
     data-viewtype="{{viewtype}}">
    {{#hasentries}}
        {{#groups}}
            {{#hasname}}
                <h3 class="main">{{name}}</h3>
            {{/hasname}}
            <div class="entriesview">
                <div class="no-overflow">
                    <table class="generaltable">
                        <thead>
                            <tr>
                                {{#columns}}
                                    <th class="header {{columnclass}}{{#islast}} lastcol{{/islast}}" style="text-align:{{alignstyle}};" scope="col">{{{headerhtml}}}</th>
                                {{/columns}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#rows}}
                                <tr class="{{rowclass}}" data-entryid="{{id}}">
                                    {{#cells}}
                                        <td class="cell {{columnclass}}{{#islast}} lastcol{{/islast}}" style="text-align:{{alignstyle}};">{{{valuehtml}}}</td>
                                    {{/cells}}
                                </tr>
                            {{/rows}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/groups}}
    {{/hasentries}}
    {{^hasentries}}
        <div class="alert alert-info">{{emptycontent}}</div>
    {{/hasentries}}
</div>
